.boilerplate-blocks-color-control{
    .block-editor-panel-color-gradient-settings{
        padding: 0 !important;

        .block-editor-tools-panel-color-gradient-settings__item{
            margin: 0 !important;
            border-top: 0 !important;
        }
    }
}