.boilerplate-toggle-group{
    .components-toggle-group-control{
        border: 1px solid #ccc !important;
    }

    .components-toggle-group-control-option-base{
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
}