@mixin responsive($device) {
    @if $device == 'tablet' {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @if $device == 'mobile' {
        @media (max-width: 767px) {
            @content;
        }
    }
}


.sample-block{
    .sample-block__content{
        color: var(--color);
        font-size: var(--font-size);
        text-align: var(--align-desktop);

        @include responsive(tablet) {
            text-align: var(--align-tablet);
        }

        @include responsive(mobile) {
            text-align: var(--align-mobile);
        }
    }
}