.sample-block{
    padding-top: var(--padding-top);
    padding-right: var(--padding-right);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    margin-top: var(--margin-top);
    margin-right: var(--margin-right);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
}